section.todo-list {
  background: var(--secondary-dark);
  border-radius: 1rem;

  margin-top: -10rem;
  padding: 60px;

  header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    h2 {
      color: var(--color-text);
    }
    .input-group {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      font-size: 16px;

      input {
        padding: 12px 24px;
        margin-right: 2px;
        border: 0;
        border-radius: 8px;
      }

      button {
        padding: 12px;
      }
    }
  }
  main {
    margin-top: 3rem;

    ul {
      list-style: none;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1rem;
        border-bottom: 1px solid #c2c2c2;
        p {
          font-size: 1rem;
          color: var(--color-text);
        }
        button {
          border: 0;
          background-color: transparent;

          img {
            width: 16px;
          }
        }
      }
    }
  }
}
